pandas>=1.5.0
numpy>=1.23.0
prophet>=1.1.4   # para modelagem de séries temporais
plotly>=5.15.0   # caso queira gerar gráficos depois
python-dateutil>=2.8.2
pystan>=3.5.0    # requerido pelo Prophet
streamlit